# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\TaiLieu\HocDaiHoc\Ky8\DamBaoChatLuongPhanMem\QLMatHang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
